.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__jYHa {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: var(--token-lJSe1P-_X752w6);
  width: 100%;
  min-width: 0;
}
.freeBox__jYHa > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__jYHa > :global(.__wab_flex-container) > *,
.freeBox__jYHa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jYHa > :global(.__wab_flex-container) > picture > img,
.freeBox__jYHa
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jYHa {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jYHa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__jYHa > :global(.__wab_flex-container) > *,
  .freeBox__jYHa > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__jYHa > :global(.__wab_flex-container) > picture > img,
  .freeBox__jYHa
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column___0NYeS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___0NYeS {
    justify-content: center;
  }
}
.freeBox___7UZAd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__fYk3Z {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__fYk3Z {
    text-align: center;
  }
}
.freeBox___7K5L {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___7K5L {
    align-self: center;
    justify-content: center;
  }
}
.svg__zs5Zl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__xFlBr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__gZyHh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.svg__ky8Mj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.column__agfF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__agfF {
    justify-content: center;
  }
}
.h4__v9Ay {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__v9Ay {
    text-align: center;
  }
}
.button___7YVO:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___7YVO:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___3QIhR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__yDPfj {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .link__yDPfj {
    text-align: center;
  }
}
.svg__ihaUm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tBNl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__tBNl:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__vs9XY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__zInZ {
  color: #92959b;
}
.svg__bdPbf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___7Z0Mv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___7Z0Mv:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__wFm4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wHJs {
  color: #92959b;
}
.svg__eue4G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ayyB:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ayyB:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__d6O7B {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__mbWrm {
  color: #92959b;
}
.svg___45MRd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__dK25L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__dK25L {
    justify-content: center;
  }
}
.h4___350Jg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___350Jg {
    align-self: center;
    text-align: center;
  }
}
.button__wr1Or:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wr1Or:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___3Kz6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__rhOlr {
  color: #92959b;
}
.svg___7JRG {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__y0O5M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__y0O5M:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__lR8Mt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wfMk {
  color: #92959b;
}
.svg___3OEtJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__iwAvv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__iwAvv {
    justify-content: center;
  }
}
.h4__q3Ccu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__q3Ccu {
    align-self: center;
    text-align: center;
  }
}
.button___6LhE0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___6LhE0:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__aqQd7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ezNu {
  color: #92959b;
}
.svg__rBg1G {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__iB4Y4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__iB4Y4:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__fMfyB {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___8UAgR {
  color: #92959b;
}
.svg__eisTs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__f5Jgc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__f5Jgc:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__tqFhY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pqa0V {
  color: #92959b;
}
.svg__uija5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__nuF {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text___5VlTj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___5VlTj {
    padding-top: 129px;
  }
}
