.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-tXZ5CFHa9C7wV6);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 0px none var(--token-kdbD8KlWIvZoq8);
}
.rootborders_flatLeft {
  border-radius: 20px;
}
.rootborders_flatRight {
  border-radius: 20px;
}
.rootborders_flatCenter {
  border-radius: 20px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  align-self: center;
  min-width: 0;
  border-radius: 20px;
  padding: 8px 48px;
}
.freeBoxborders_flatLeft {
  background: #185adb;
  padding-left: 41px;
  padding-right: 41px;
}
.freeBoxborders_flatRight {
  padding-left: 41px;
  padding-right: 41px;
  border-radius: 20px;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding-top: 20px;
  min-width: 0;
}
.h4borders_flatLeft {
  color: var(--token-tXZ5CFHa9C7wV6);
  font-size: 36px;
}
.h4borders_flatRight {
  font-size: 36px;
}
.h4borders_flatCenter {
  margin-top: 52px;
}
.text__g5Urz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 12px;
  min-width: 0;
}
.textprimary__g5UrzStUT {
  text-align: center;
}
.textborders_flatLeft__g5UrZgGxRs {
  color: var(--token-tXZ5CFHa9C7wV6);
  text-align: center;
  font-size: 16px;
}
.textborders_flatRight__g5UrzHckRx {
  text-align: center;
  font-size: 16px;
}
.textborders_flatCenter__g5UrzUjzkI {
  text-align: center;
}
.img__llxSw {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
  align-self: center;
}
.img__llxSw > picture > img {
  object-fit: cover;
}
.img__llxSw > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__fpOR {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 32px 0px 0px;
}
.columns__fpOR > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__fpOR > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__fpOR {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    min-width: 0;
    display: flex;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__fpOR > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__fpOR > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 10 / 12);
  }
}
.columnsprimary__fpORStUT > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsprimary__fpORStUT > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.column__h6Re {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__nwn5V {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__nwn5V > picture > img {
  object-fit: cover;
}
.img__nwn5V > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__aG150 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__c7VUo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__c7VUo {
    width: 100%;
    min-width: 0;
  }
}
.textborders_flatLeft__c7VUOgGxRs {
  color: var(--token-tXZ5CFHa9C7wV6);
  font-size: 14px;
}
.textborders_flatRight__c7VUoHckRx {
  font-size: 14px;
}
.columns__glYih {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__glYih > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__glYih > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__glYih {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__glYih > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsprimary__glYihStUT > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsprimary__glYihStUT > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatLeft__glYihgGxRs > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatLeft__glYihgGxRs > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatRight__glYihHckRx > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatRight__glYihHckRx > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatCenter__glYihUjzkI {
  display: none;
}
.columnsborders_flatCenter__glYihUjzkI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatCenter__glYihUjzkI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.column__k8KcU {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___0Q7MR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___0Q7MR > picture > img {
  object-fit: cover;
}
.img___0Q7MR > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___3Zv4X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__sTcC6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__sTcC6GGxRs {
  color: var(--token-tXZ5CFHa9C7wV6);
  font-size: 14px;
}
.textborders_flatRight__sTcC6HckRx {
  font-size: 14px;
}
.columns___3AHMe {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___3AHMe > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
.columns___3AHMe > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 9 / 12);
}
.columns___3AHMe > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___3AHMe {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___3AHMe > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsprimary___3AHMeStUT > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
.columnsprimary___3AHMeStUT > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 9 / 12);
}
.columnsprimary___3AHMeStUT > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 1 / 12);
}
.columnsborders_flatLeft___3AHMegGxRs > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
.columnsborders_flatLeft___3AHMegGxRs > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 9 / 12);
}
.columnsborders_flatLeft___3AHMegGxRs > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 1 / 12);
}
.columnsborders_flatCenter___3AHMeUjzkI {
  display: none;
}
.columnsborders_flatCenter___3AHMeUjzkI > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 2 / 12);
}
.columnsborders_flatCenter___3AHMeUjzkI > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 9 / 12);
}
.columnsborders_flatCenter___3AHMeUjzkI > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 1 / 12);
}
.column__npS5D {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__jUdl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__jUdl > picture > img {
  object-fit: cover;
}
.img__jUdl > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__cU7Yt {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__bVrG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__bVrG {
    font-size: 12px;
  }
}
.textborders_flatLeft__bVrGgGxRs {
  color: var(--token-tXZ5CFHa9C7wV6);
  font-size: 14px;
}
.column__wNp8J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__wNp8J {
    display: none;
  }
}
.columnprimary__wNp8JStUT {
  display: none;
}
.columnborders_flatLeft__wNp8JgGxRs {
  display: none;
}
.columnborders_flatRight__wNp8JHckRx {
  display: none;
}
.columns__eiUP {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  plasmic-display-none: false;
  min-width: 0;
  padding: 0px;
}
.columns__eiUP > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__eiUP > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__eiUP {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__eiUP > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsprimary__eiUPStUT > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsprimary__eiUPStUT > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatLeft__eiUPgGxRs > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatLeft__eiUPgGxRs > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatCenter__eiUPUjzkI {
  display: none;
}
.columnsborders_flatCenter__eiUPUjzkI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatCenter__eiUPUjzkI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.column__zz4X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___248TA {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___248TA > picture > img {
  object-fit: cover;
}
.img___248TA > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__kzWO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___4ZhI {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft___4ZhIgGxRs {
  color: var(--token-tXZ5CFHa9C7wV6);
  font-size: 14px;
}
.columns__e67X {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  plasmic-display-none: false;
  min-width: 0;
  padding: 0px;
}
.columns__e67X > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__e67X > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__e67X {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__e67X > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsprimary__e67XStUT > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsprimary__e67XStUT > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatCenter__e67XUjzkI {
  display: flex;
}
.columnsborders_flatCenter__e67XUjzkI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatCenter__e67XUjzkI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.column__bqQl8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__bSxO {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__bSxO > picture > img {
  object-fit: cover;
}
.img__bSxO > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__opxp1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__bUqqK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns___4B93 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  plasmic-display-none: false;
  min-width: 0;
  padding: 0px;
}
.columns___4B93 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns___4B93 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___4B93 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___4B93 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsprimary___4B93StUT > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsprimary___4B93StUT > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatCenter___4B93UjzkI {
  display: flex;
}
.columnsborders_flatCenter___4B93UjzkI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatCenter___4B93UjzkI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.column___2Hdg7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___3Pf14 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___3Pf14 > picture > img {
  object-fit: cover;
}
.img___3Pf14 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___3Pf14 {
    width: 16px;
  }
}
.column__xkllc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__kgHy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__groDt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  plasmic-display-none: false;
  min-width: 0;
  padding: 0px;
}
.columns__groDt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__groDt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__groDt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__groDt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsprimary__groDtStUT > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsprimary__groDtStUT > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatCenter__groDtUjzkI {
  display: flex;
}
.columnsborders_flatCenter__groDtUjzkI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatCenter__groDtUjzkI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.column__eVxqg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__rjs1O {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__rjs1O > picture > img {
  object-fit: cover;
}
.img__rjs1O > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__dAiQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__c9D2O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns___0KR5Q {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  plasmic-display-none: false;
  min-width: 0;
  padding: 0px;
}
.columns___0KR5Q > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns___0KR5Q > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___0KR5Q {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___0KR5Q > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.columnsprimary___0KR5QStUT > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsprimary___0KR5QStUT > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.columnsborders_flatCenter___0KR5QUjzkI {
  display: flex;
}
.columnsborders_flatCenter___0KR5QUjzkI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columnsborders_flatCenter___0KR5QUjzkI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
.column__ryOmT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__vXb {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__vXb > picture > img {
  object-fit: cover;
}
.img__vXb > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___05YW9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__emN3E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.img___4OzwV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
}
.img___4OzwV > picture > img {
  object-fit: cover;
}
.img___4OzwV > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___8H7Np {
  position: relative;
  plasmic-display-none: true;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-tXZ5CFHa9C7wV6);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  align-self: center;
  padding-top: 52px;
  min-width: 0;
}
.textborders_flatLeft___8H7NpgGxRs {
  display: block;
}
.textborders_flatRight___8H7NpHckRx {
  color: var(--token-IDQ7N4shGJ0N1y);
  display: block;
}
.textborders_flatCenter___8H7NpUjzkI {
  color: var(--token-IDQ7N4shGJ0N1y);
  display: block;
}
.text__oe5 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 12px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__oe5GGxRs {
  color: var(--token-tXZ5CFHa9C7wV6);
  font-size: 16px;
}
.textborders_flatRight__oe5HckRx {
  width: 100%;
  text-align: center;
  max-width: none;
  font-size: 16px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
  margin-bottom: 52px;
}
.buttonprimary:global(.__wab_instance) {
  margin-top: 52px;
  margin-bottom: 52px;
}
.buttonborders_flatLeft:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  min-width: 0;
  display: block;
}
.buttonborders_flatRight:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  align-self: center;
  min-width: 0;
  display: block;
}
.buttonborders_flatCenter:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  min-width: 0;
}
.svg__dwxfA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__bvEy4 {
    font-size: 12px;
  }
}
.textborders_flatLeft__bvEy4GGxRs {
  width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.textborders_flatRight__bvEy4HckRx {
  width: 100%;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
.textborders_flatCenter__bvEy4UjzkI {
  text-align: center;
  width: 100%;
  min-width: 0;
}
.svg__dscZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
